[package]
name = "pith-blobstore"
description = "Blob storage interfaces"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
thiserror.workspace = true
