[package]
name = "pith-io"
description = "I/O interfaces (streams, polling)"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
thiserror.workspace = true
