[package]
name = "rhizome-pith-encoding"
description = "Encoding/decoding interfaces"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
