[package]
name = "rhizome-pith-http1"
description = "HTTP/1.1 protocol implementation"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
