[package]
name = "rhizome-pith-snowflake"
description = "Snowflake ID interfaces"
version.workspace = true
edition.workspace = true
license.workspace = true
repository.workspace = true

[dependencies]
